body {
  /*background-color: black;*/
  text-align: center;
  margin: 0 auto;
  /*color: white;*/
}
th{
  margin-left: 5px 50px;
  text-align: center;
}

.open-screen {
  background-color: black;
  color: white;
}

.innerMap{
    width: 800px;
    max-width: 100%;
    height: 500px;
    border: 1px solid black;
}
